# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [10]:
import pandas as pd 
loca="datasets/travel_times.csv"
travel_df=pd.read_csv("datasets/travel_times.csv")
#travel_df=pd.read_csv(loca)
#travel_df.head()

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [14]:
filepath = "datasets/income_expenses.xlsx"
expense_df = pd.read_excel(filepath)

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [15]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
prices = [176,59,47,38,99]

In [16]:
shoesList = list(zip(names, prices))

In [17]:
shoes_df = pd.DataFrame(data=shoesList, columns=['Brand', 'Price'])

In [18]:
shoes_df

         Brand  Price
0         Nike    176
1       Adidas     59
2  New Balance     47
3         Puma     38
4       Reebok     99

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [19]:
travel_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [20]:
expense_df.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [25]:
#expense_df.groupby('Income Range')['Amount'].sum()
expense_df['Amount'].groupby(expense_df)['Income Range']).sum()

SyntaxError: invalid syntax (<ipython-input-25-b8f43661cae6>, line 2)

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [26]:
pd.pivot_table(travel_df, index=['DayOfWeek', 'GoingTo'], values=['TotalTime'])

                   TotalTime
DayOfWeek GoingTo
Friday    GSK      37.628571
          Home     38.238462
Monday    GSK      44.747368
          Home     41.725000
Thursday  GSK      40.204167
          Home     42.345000
Tuesday   GSK      42.079167
          Home     42.962500
Wednesday GSK      42.087500
          Home     44.300000

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.

In [30]:
travel_df.shape
travel_df.columns
travel_df.head()
travel_df.describe()

,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,50.981512,127.591707,74.477561,81.975610,41.904390,37.871707
std,1.321205,4.128450,11.409816,10.111544,6.849476,4.835072
min,48.320000,112.200000,38.100000,50.300000,28.200000,27.100000
25%,50.650000,124.900000,68.900000,76.600000,38.400000,35.700000
50%,51.140000,127.400000,73.600000,81.400000,41.300000,37.600000
75%,51.630000,129.800000,79.900000,86.000000,44.400000,39.900000
max,60.320000,140.900000,107.700000,112.100000,82.300000,62.400000